<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About T-34.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="tank@t34.me">
    <!-- CSS -->
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/media/css/custom.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <!-- <li><a href="/api/">API</a></li>  -->
          <li><a href="https://github.com/z0rr0/t34.me">Sources on GitHub</a></li>
        </ul>
        <h3 class="muted"><a href="/">T-34</a></h3>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span12">
          <h4>Following resources are used in the development of this project:</h4>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span2">
          <a href="http://python.org/"><img src="/media/img/python_logo.png" width="64px"></a>
        </div>
        <div class="span10 well">
          <a href="http://python.org/">Python</a> &ndash; a programming language that lets you work more quickly and integrate your systems more effectively. Python runs on Windows, Linux/Unix, Mac OS X, and has been ported to the Java and .NET virtual machines.</div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <a href="http://www.mongodb.org/"><img src="/media/img/mongo_logo.png"></a>
        </div>
        <div class="span10 well">
          <a href="http://www.mongodb.org/">MongoDB</a> &ndash; an open-source document database, and the leading NoSQL database. MongoDB stores structured data as JSON-like documents with dynamic schemas, making the integration of data in certain types of applications easier and faster.</div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <a href="http://bottlepy.org/"><img src="/media/img/bottle_logo.png"></a>
        </div>
        <div class="span10 well">
          <a href="http://bottlepy.org/">Bottle</a> &ndash; a fast, simple and lightweight WSGI micro web-framework for Python. It is distributed as a single file module and has no dependencies other than the Python Standard Library.
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <a href="http://twitter.github.io/bootstrap/"><img src="/media/img/boostrap_logo.png" width="64px"></a>
        </div>
        <div class="span10 well">
          <a href="http://twitter.github.io/bootstrap/">Bootstrap</a> &ndash; a sleek, intuitive, and powerful front-end framework for faster and easier web development.
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <a href="http://en.wikipedia.org/wiki/T-34"><img src="/media/img/t34_logo.png" width="64px"></a>
        </div>
        <div class="span10 well">
          <em><a href="http://en.wikipedia.org/wiki/T-34">T-34</a> &ndash; the best medium tank of World War II.<br>:)</em>
        </div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span2">
          <a href="http://www.gnu.org/licenses/gpl.html"><img src="/media/img/gpl3_logo.png" width="64px"></a>
        </div>
        <div class="span10">
          <p class="muted"><strong>&copy; t34.me</strong> &nbsp;&nbsp; If you have any problem with this service (errors or violation of the rules.), please write <a href="mailto:ask@t34.me">email to us</a>.</p>
        </div>
      </div>
    </div>
  </body>
</html>